@charset "utf-8";

h1 {
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
}
h3 {
	font-family: 'Work Sans', sans-serif;
	font-weight: lighter;
	text-decoration: none;
}body header {
	width: 100%;
	color: #EDF5E1;
	background-color: #F95700;
	padding-top: 0px;
	margin-top: 0px;
	background-size: auto auto;

}
.container {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0x;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	text-decoration: none;
}
body {
	text-decoration: none;
}


.container {
	text-decoration: none;
}
#sitetitle {
	text-decoration: none;
}
#menu {


}
#copy {
}
